body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita lo scroll se il canvas è un pixel più grande */
    background-color: #1a1a1a;
}

canvas {
    display: block; /* Toglie lo spazio bianco sotto i canvas */
    border: 4px solid #d4af37;
    box-sizing: border-box; /* Importante: include il bordo nel calcolo della grandezza */
}